[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.2"
channels = "==2.2.0"
channels-redis = "==2.4.0"
psycopg2 = "==2.8.3"
uwsgi = "==2.0.18"
aioredis = "==1.2.0"
asgiref = "==3.1.2"
asn1crypto = "==0.24.0"
async-timeout = "==3.0.1"
attrs = "==19.1.0"
autobahn = "==19.6.2"
automat = "==0.7.0"
cffi = "==1.12.3"
constantly = "==15.1.0"
cryptography = "==2.7"
daphne = "==2.3.0"
hiredis = "==1.0.0"
hyperlink = "==19.0.0"
idna = "==2.8"
incremental = "==17.5.0"
msgpack = "==0.6.1"
pycparser = "==2.19"
pyhamcrest = "==1.9.0"
pytz = "==2019.1"
six = "==1.12.0"
sqlparse = "==0.3.0"
twisted = "==19.2.1"
txaio = "==18.8.1"
zope-interface = "==4.6.0"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-redis = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
django-rest-swagger = "*"

[requires]
python_version = "3.7"
